/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.label {
    -fx-display: inline-block;
    -fx-max-width: 100%;
    -fx-margin-bottom: 5px;
    -fx-font-weight: 700;
    -fx-cursor: default;    
}

.form-control, .combo-box {
    -fx-display: block;
    -fx-width: 100%;
    -fx-height: 34px;
    -fx-padding: 6px 12px;
    -fx-font-size: 14px;
    -fx-line-height: 1.42857143;
    -fx-color: #333;
    -fx-text-fill : #333;
    -fx-background-color: #fff;
    -fx-background-image: none;
    -fx-border-color: #ccc;
    -fx-border: 1px solid #ccc;
    -fx-border-radius: 0;
}

.combo-box {
    -fx-background-color : #5BC0DE;
}

.form-control:focused  {
    -fx-border-color: #563d7c;
}

.btn {
    -fx-display: inline-block;
    -fx-padding: 6px 12px;
    -fx-margin-bottom: 0;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-line-height: 1.42857143;
    -fx-text-align: center;
    -fx-white-space: nowrap;
    -fx-vertical-align: middle;
    -fx--ms-touch-action: manipulation;
    -fx-touch-action: manipulation;
    -fx-cursor: pointer;
    -fx-background-image: none;
    -fx-border: 1px solid transparent;
    -fx-border-radius: 0;
}

.btn-primary {
    -fx-color: transparant;
    -fx-border-color: #563d7c;
    -fx-text-fill: #563d7c;
}

.btn-primary:hover {
    -fx-color: #563d7c;
    -fx-background-color: #563d7c;
    -fx-border-color: #563d7c;
    -fx-text-fill: #fff;
}
.g-container {
    -fx-background-color: white;
}